.app {
  padding: 20px;
  min-height: 100vh;
}

body {
  background: #FFEBF7 url('../public/background.jpg');
  background-repeat: space;
  background-attachment: fixed;
  background-size: 100%;
  padding: 30px;
}